:root {
    --first-color: #659DBD;
    --second-color: #8D8741;
    --third-color: #DAAD86;
    --fourth-color: #BC986A;
    --fifth-color: #FBEEC1;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.navbar {
    margin: 10px, 0;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--second-color);
  }

.main {
    width: 100%;
    height: 100vh;
    background-color: var(--fifth-color);
    background-position: center;
    background-size: cover;
}